@import 'variables';

.about {
    margin: 0 auto;
    text-align: left;
    
    .about-header {
        text-transform: uppercase;
    }
    p {
        font-size: 1.25rem;
        color: rgb(177, 177, 177);
        letter-spacing: 1px;
        font-weight: lighter;
        letter-spacing: 1.25px;
    }

    .tech-used-container {
        margin-top: 2rem;
        ul {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
        li {
            list-style: none;
            border-radius: 3rem;
            margin-bottom: 1rem;
            // padding: .25rem;
            background-color: rgba(0, 0, 0, 0.507);

            h3 {
                margin: 0;
                padding: 0;
                color: $Green;
                font-size: 1.25rem;
            }
            div {
                display: flex;
                justify-content: space-between;
                width: 90%;
                height: 5rem;
                margin: 0 auto;
                align-items: center;
            }
        }
        .align-right {
            text-align: right;

            div {
                display: flex;
                padding: 0;
            }
        }
        .icon {
            width: 4rem;
        }
    }
}