@import 'variables';

#Contact {
    .contact-body {
        display: flex;
    }
    .contact-icon {
        width: 2rem;
        height: 2rem;
        margin: 1.15rem 1rem 1rem .5rem;
    }
    ul {
        padding: 0;
        display: flex;
        justify-content: space-evenly;
    }
    li {
        list-style: none;

        a {
            &:hover {
                color: grey;
                cursor: pointer;
            }
        }
        .icon {
            width: 3rem;
        }
    }
}