@import 'variables';

#Contact {
    .contact-body {
        display: flex;
    }
    .contact-icon {
        width: 2rem;
        margin: 1.15rem 1rem 1rem .5rem;
    }
    li {
        height: 2rem;

        a {
            &:hover {
                color: grey;
                cursor: pointer;
            }
        }
    }
}