@import 'variables';

.portrait {
    width: 8rem;
    border-radius: 1rem;

    @media(max-width: 500px) {
        margin: 0 auto;
    }
    @media(min-width: 500px) {
        height: 10.5rem;
    }
}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-transform: uppercase;

    .user-name {
        text-align: center;

        .my-name {
            font-size: 1.75rem;
            font-family: $PressStart2P;
            font-weight: lighter;
            span {
                margin-right: 1rem;
            }
            @media(max-width: 430px) {
                font-size: 1.5rem;
            }
        }
        h2 {
            font-size: 1.25rem;
            color: rgb(202, 202, 202);
        }
    }
    nav {
        text-align: left;
    }
    .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(8, 8, 8);
        height: 3rem;
    }
    .nav-item {
        text-decoration: none;
        list-style: none;
    }
}