.portfolio-section {
    text-align: left;
    transition: 1s ease;

    .portfolio-title {
        margin: 0;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .portfolio-cards {
        margin: 1rem 0 0 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        
        .preview-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-repeat: no-repeat;
            a {
                color: $White;
                font-size: 2rem;
                width: 100%;
                height: 24rem;
                margin: 0;
                background-color: #000;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;

                &:hover {
                    transition: .25s ease;
                    cursor: pointer;
                    opacity: .9;
                }
            }
        }
        a {
            height: 1.5rem;
            width: 100%;
            background-color: #000;
            color: $White;
            margin: 0 0 .5rem 0;
            padding: .75rem 0 .5rem 0;
            text-align: center;

            &:hover { 
                cursor: pointer; 
                color: #fff;
            }
        }
    }
    .tech-used {
        width: 100%;
        margin: 0 auto;
        margin-top: 1rem;

        .subject {
            width: 100%;

            h5 {
                border-bottom: 1px solid rgba(255, 255, 0, 0.507);
                padding-bottom: .25rem;
                margin-bottom: .25rem;
            }
        }
        ul {
            padding: 0;
            display: flex;
            flex-direction: row;
        }
        li {
            list-style: none;
            border-right: 1px solid rgba(255, 255, 0, 0.507);
        }
        h4 {
            margin: 0 0 .5rem 0;
            color: $Red;
        }
        h5 {
            margin: .5rem 0 0 0;
        }

        // table styling
        table {
            border: 1px solid rgba(128, 128, 128, 0.514);
            background-color: rgb(27, 25, 25);
            color: $White;
            width: 100%;
            padding: .5rem;

            th {
                border-bottom: 1px solid rgba(128, 128, 128, 0.5);
                padding-bottom: .25rem;
            }
            td {
                width: 5rem;
            }
        }

        .icon {
            width: 2.5rem;
        }
        .chartjs-logo {
            width: 5.25rem;
            border-radius: 1rem;
        }
    }

}


.cryptonews-app, .todo-app, .reusable-lighters {
    background-size: 100%;
    // max-height: 24rem;
}
.cryptonews-app {
    background-image: url('../assets/cryptonews.png');
}
.todo-app {
    background-image: url('../assets/todoapp.png');
}
.reusable-lighters {
    background-image: url('../assets/reusablelighters.png');
    // height: 22rem;
}