.portfolio-cards {
    border: 1px solid #333E4E;
    width: 60%;
    margin: 0 auto;
    text-align: left;
    padding: 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    a {
        color: #fff;
        
        &:hover {
            color: #F64B29;
            cursor: pointer;
            transition: .25s ease-in-out;
        }
    }
}
.portfolio-github, .portfolio-app {
    margin: 0;
    width: 7rem;
    border: none;
    height: 1.5rem;
    margin: .25rem;
    font-size: .80rem;
}
.portfolio-github {
    background-color: #F64B29;
    color: #fff;
}
.portfolio-app {
    background-color: #B6C4D7;
    color: #000;
}
.portfolio-title {
    margin: .5rem;
    font-size: 1.5rem;
}