@import 'intro';
@import 'nav';
@import 'github';
@import 'portfolio';
@import 'about';

/* GLOBAL */
.App {
  text-align: center;
}
body {
  background-color: #232228;
  color: #FFF;
}
a {
  text-decoration: none;
}
button {
  outline: none;

  &:hover {
    cursor: pointer;
  }
}
.display-item {
    margin-bottom: 2rem;
    height: 30rem;
    overflow: scroll;
    background-color: #141316dc;
    max-width: 69%;
}