@import 'nav';
@import 'portfolio';
@import 'about';
@import 'footer';
@import 'variables';

/* GLOBAL */
body {
  background-color: $White;
  color: $Black;
  font-family: $Inconsolata;
  font-weight: 700;
  letter-spacing: .1rem;
}
a {
  color: $Black;
  text-decoration: none;
}
.App {
  text-align: center;
  width: 85%;
  margin: 0 auto;
  background-color: $White;
  padding: 1rem;

  @media(min-width: 700px) {
    width: 40rem;
  }
}
.social-container {
  width: 15rem;
  display: flex;
  justify-content: space-evenly;

  .social-icon {
    width: 3rem;
  }
}