// GLOBAL VARIABLES

// FONTS
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Press+Start+2P|Space+Mono&display=swap');
$PressStart2P: 'Press Start 2P', cursive;
$SpaceMono: 'Space Mono', monospace;
$Inconsolata: 'Inconsolata', monospace;

// COLORS
$Blue: rgb(56, 134, 223);
$Green: rgb(56, 223, 92);
$Yellow: rgb(212, 223, 56);
$Red: rgb(223, 56, 56);